.GeneralContent {
    padding: 24px;
    text-align: left;
    font-size: 15px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.ScreeningItems{
    margin: 15px;
}